body {
  background-color: #e4e5e6;
  margin: 0;
  font: 16px Comic Sans MS, sans-serif;
}
.app__wrapper {
  margin: 0 25px;
}
@media (min-width: 768px) {
  .app__wrapper {
    margin: 0 auto;
    width: 500px;
  }
}




/* BUTTONS */
.button {
  border: 0;
  padding: 5px 10px;
  background-color: red;
  color: white;
  font: inherit;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  cursor: pointer;
}












/* SECTION */
.section--hidden {
  display: none;
}